<a href="https://colab.research.google.com/github/mrcoding16/Reinforment_Learning/blob/main/Python_brushup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.10.6

In [ ]:
x =3
print(x)
print(x+5)
print(x**2)
print(type(x))

3
8
9
<class 'int'>

In [ ]:
import math
print(math.sqrt(x))

1.7320508075688772

In [ ]:
t=True
f=False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t !=f)

<class 'bool'>
False
True
False
True

In [ ]:
s='hello'
w="world"
print(s)
print(w)
print(len(s))
print(s.capitalize())
print(s.upper())
print(s.rjust(7))
print(s.center(7))
print(s.replace('l','qpqp'))

hello
world
5
Hello
HELLO
  hello
 hello
heqpqpqpqpo

In [ ]:
nums=list(range(5))
print(nums)
print(nums[2:4])
print(nums[2:])
print(nums[:2])

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]

In [ ]:
for i in nums:
  print(i)
for idx,num in enumerate(nums):
  print('#%d: %s'%(idx+1,num))

0
1
2
3
4
#1: 0
#2: 1
#3: 2
#4: 3
#5: 4

In [ ]:
square=[]
for i in range(10):
  square.append(i**2)
for j in square:
  print(j)

0
1
4
9
16
25
36
49
64
81

In [ ]:
nums=[0,1,2,3,4]
squares=[x**2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
even_squares=[x**2 for x in nums if x%2==0]
print(even_squares)

[0, 4, 16]

In [ ]:
def sign(x):
  if x>0:
    return 'positive'
  elif x<0:
    return 'negative'
  else:
    return 'zero'

for x in [-1,0,1]:
  print(sign(x))

negative
zero
positive